Repository yojo-art/cherrypick, pull requests merged in 2024-06, with the labels that each got.

#92 依存関係
  cypress/support/commands.js
  locales/index.d.ts
  package.json
  packages/cherrypick-js/package.json
  packages/frontend/src/instance.ts
  pnpm-lock.yaml
Labels: packages/frontend, packages/cherrypick-js, packages/frontend:test

#87 クライアントが直接サマリプロキシに接続するオプション
  packages/backend/migration/1717644139656-addDirectSummalyProxy.js
  packages/backend/src/models/Meta.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/meta.ts
  packages/cherrypick-js/src/autogen/types.ts
  packages/frontend/src/components/MkUrlPreview.vue
  packages/frontend/src/pages/admin/settings.vue
Labels: packages/backend, packages/frontend, packages/cherrypick-js

#104 1ファイルの容量制限
  CHANGELOG_yojo.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/DriveService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/models/json-schema/role.ts
  packages/backend/src/server/api/endpoints/drive/files/create.ts
  packages/cherrypick-js/src/autogen/types.ts
  packages/frontend/src/const.ts
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
Labels: packages/backend, packages/frontend, packages/cherrypick-js

#105 キャッシュクリアでfetchInstanceを強制
  CHANGELOG_yojo.md
  packages/frontend/src/scripts/clear-cache.ts
Labels: packages/frontend

#116 リモートユーザーにはファイルサイズ制限を適用しない
  CHANGELOG_yojo.md
  packages/backend/src/core/DriveService.ts
Labels: bug, packages/backend

#124 メディアタイムラインまわりの修正
  CHANGELOG_yojo.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/pages/timeline.vue
Labels: bug, packages/frontend

#126 チャンネル機能の削除
  CHANGELOG_yojo.md
  locales/index.d.ts
  packages/frontend/src/navbar.ts
  packages/frontend/src/pages/channel.vue
  packages/frontend/src/pages/channels.vue
  packages/frontend/src/router/definition.ts
  packages/frontend/src/scripts/get-note-menu.ts
  packages/frontend/src/store.ts
  packages/frontend/src/ui/deck.vue
  packages/frontend/src/ui/deck/channel-column.vue
  packages/frontend/src/ui/deck/deck-store.ts
  packages/frontend/src/ui/visitor.vue
Labels: packages/frontend
